<% meta title: 'UGtastic: Tech community interviews.' %>

<div class="twelve columns header_nav_fullwidth">
  <%= render 'shared/header' %>
</div>

<div class="twelve columns" >
  <h1 id="header_title"><%= @header_title || 'All Interviews' %></h1>
    <%= form_tag interviews_path, method: :get, remote: true do %>
      <input tabindex="0" autofocus type="search" placeholder="Filter interviews" id="q" name="q" style="display: inline-block;" value="<%= @query %>">
    <% end %>
</div>

<div class="twelve columns">
  <div id="container">
    <% @you_tube_videos.each do |interview| %>

      <% cache interview do %>
        <div class='box photo col2'>
          <%= link_to interview_path(interview) do %>
            <%= image_tag(interview.thumbnail('medium').url, 'data-caption' => interview.title, size: "#{interview.thumbnail('medium').width}x#{interview.thumbnail('medium').height}", alt: interview.title, class: 'video_thumbnail') %>
          <% end %>
          <h4><strong><%= interview.interviewee_names %></strong></h4>
          <% if interview.subtitle.present? %>
            <h5><%= interview.subtitle %></h5>
          <% end %>
          <p><%= truncate(interview.description, length: 100, omission: '…') %></p>
          <% if interview.at_conference? %>
            <div class="box_comment conference"><p><%= link_to "#{interview.conference_name} #{interview.conference_city} #{interview.conference_year}", interview.conference %></p></div>
          <% end %>
        </div>
      <% end %>

    <% end %>
  </div>
  <%= render 'shared/footer' %>
</div>

<script src="/javascripts/foundation.min.js" type="text/javascript"></script>

<script src="/javascripts/app.js" type="text/javascript"></script>
<script src="/javascripts/masonry.js" type="text/javascript"></script>

<script type="text/javascript">
  $(function(){
    var $container = $('#container');
    $container.imagesLoaded(function() { $container.masonry({itemSelector : '.box', isFitWidth: true, isAnimated: true}); });
  });
</script>
