!!!
%html
  %head
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title= content_for?(:title) ? yield(:title) : 'UGtastic: User-Groups? Fantastic! Interviews with tech community leaders.'
    %meta{name: 'description', content: "#{content_for?(:description) ? yield(:description) : 'UGtastic'}"}
    = stylesheet_link_tag 'application', media: 'all'
    -# Modernizr is required for Zurb Foundation
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header= render 'layouts/navigation'
    %section(role="main")
      :erb
        <div id="helpAlert" data-alert class="alert-box secondary" tabindex="0" aria-live="assertive" role="dialogalert">
          We're remodeling!
          <br>
          More info <a href="https://github.com/ugtastic/ugtastic/blob/master/CONTRIBUTING.md" class="text-color: white;">at our GitHub repo</a>
          <button href="#" tabindex="0" class="close" aria-label="Close Alert">&times;</button>
        </div>
      = render 'layouts/messages'
      = yield
